{{>head}}
        <div class="main-content">
            {{>header}}
            <div>
                <img class="portrait" src="/images/image.jpg"  alt="Forest in the fog image">
            </div>
        </div>
        
    {{>footer}}
{{>foot}}