{{>head}}
        <div class="main-content">
            {{>header}}
            <div>
                <p>
                    This demo was created by Stu Last.  It uses data pulled via API from  <a href="https://mapbox.com">Mapbox.com</a> and <a href="https://weatherstack.com">Weatherstack.com</a>.
                </p>
                <img class="portrait" src="/images/image.jpg"  alt="Forest in the fog image">
            </div>
        </div>
        
    {{>footer}}
{{>foot}}